* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */

  --success: #1fa125;
  --info: #1569bd;
  --warning: #e5e900;
  --danger: #bd1515;
  --bgcolor: rgb(100, 0, 158);
  --card: rgb(162, 0, 255);
  --nav: rgb(146, 0, 255);
  /* --coba: background-image: linear-gradient(to bottom right, rgb(100, 0, 158), rgb(239, 3, 247)); */
}
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
.container {
  background-color: var(--bgcolor);
  /* background-image: linear-gradient(
    to bottom left,
    rgb(100, 0, 158),
    rgb(239, 3, 247)
  ); */
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  width: 100%;
  /* border: 1px solid #000; */
  /* border-radius: 10px; */
}
.content {
  /* background-color: var(--info); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* card class section */
.card {
  background-color: var(--card);
  width: 250px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid #000000; */
  border-radius: 10px;
  padding: 0.5em;
  margin: 0.2em;
}
.card .img {
  background-color: var(--bgcolor);
  height: 200px;
  width: 100%;
  border-radius: 8px;
}
.img .card-img {
  height: 200px;
  width: 100%;
  border-radius: 8px;
}
.card-body .card-title1 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
}
.card-body .card-title2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
}
.card-body .card-item {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 0.5em;
}
.card-body .card-button {
  text-align: center;
}

/* card-fluid calss section */
.card-fluid {
  background-color: var(--card);
  /* width: 100%; */
  display: flex;
  /* border: 1px solid #000000; */
  border-radius: 10px;
  padding: 0.5em;
  margin-bottom: 2em;
}
.card-fluid .img {
  height: 70vh;
  width: 30vw;
  border-radius: 8px;
  padding-right: 1.5rem;
}
.img .card-img-fluid {
  height: 100%;
  width: 30vw;
  border-radius: 8px;
  padding-right: 1.5rem;
}

/* button section */
.btn {
  margin: 0.3rem 0.3rem;
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 700;
  /* font-family: inherit; */
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn:hover {
  border-color: #000;
}
.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.btn-success {
  background-color: var(--success);
}
.btn-info {
  background-color: var(--info);
}
.btn-warning {
  background-color: var(--warning);
}
.btn-danger {
  background-color: var(--danger);
}

/* header */
li {
  list-style: none;
}
.navbar {
  background-color: var(--nav);
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.nav-branding {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.nav-link {
  transition: 0.7s ease;
}
.nav-item a {
  color: white;
  text-decoration: none;
}
.nav-link:hover {
  color: dodgerblue;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
/* header */

/* media */
@media (max-width: 767px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}
/* media */

/* nav-bar class section */
.nav-bar {
  background-color: var(--success);
  width: 100%;
  /* padding: 2rem 0 0.5rem 0; */
  gap: 1rem;
}
.nav-item {
  display: flex;
  align-items: baseline;
}
.nav-bar .nav-bar-link {
  font-size: 2rem;
  padding: 1rem 0.7rem 1rem 0.7rem;
}
a {
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
}
a:hover {
  color: var(--danger);
}
/* dropdown button section */
.dropdown {
  position: relative;
  background: var(--info);
}
.dropdown-button {
  background: var(--success);
  border: none;
  font-size: 2rem;
  font-weight: 500;
}
.dropdown-button:hover {
  color: var(--danger);
}
.dropdown > .dropdown-button:focus + .dropdown-group {
  opacity: 1;
  background: var(--success);
  transform: translateY(0);
}
.dropdown-group {
  position: absolute;
  background: var(--bgcolor);
  left: 0;
  top: calc(100% + 0.1rem);
  opacity: 0;
  /* transform: translateY(-10px); */
}
.formation-grid {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 2rem;
}
.dropdown-menu {
  padding: 0.5rem;
}
.dropdown-heading {
  font-size: 1.5rem;
}
.dropdown-links {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
/* form section */
.formDisplay {
  padding: 1.5rem 1rem 1rem 1rem;
  border: 1px solid #000;
  border-radius: 15px;
  margin-bottom: 0.2em;
}
form input,
select {
  height: 30px;
  width: 90%;
  padding: 0.2rem;
  margin: 0.2rem 0.5rem 1rem 0.5rem;
  border: 2px solid #000;
  border-radius: 5px;
}
form .form-group-btn {
  text-align: center;
}
.form-title {
  text-align: center;
}
.formSearch {
  display: flex;
  align-items: baseline;
}
/* footer section */
footer {
  background-color: var(--nav);
  padding: 0.5rem 0 0.5rem 0;
  width: 100%;
  text-align: center;
}
/* resposive screen section */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* media laptop screen */
@media (max-width: 1300px) {
  html {
    font-size: 100%;
  }
}
@media (max-width: 999px) {
  html {
    font-size: 95%;
  }
  .container {
    width: 100%;
  }
  .content {
    display: flex;
    justify-content: center;
  }
}
/* media handphone screen */
@media (max-width: 450px) {
  html {
    font-size: 95%;
  }
  .container {
    width: 100%;
  }
  .content {
    display: flex;
    justify-content: center;
  }
  .card-fluid {
    flex-direction: column;
    justify-content: center;
    padding: 0.2rem;
    margin: 0.2rem;
  }
  .card-fluid .img {
    width: 100%;
  }
  .img .card-img-fluid {
    width: 100%;
    padding-right: 0;
  }
  .card-body .card-title2 {
    font-size: 1rem;
  }
  h1 {
    font-size: 100%;
  }
  .nav-item {
    flex-direction: column;
  }
}
