* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */

  --success: #1fa125;
  --info: #1569bd;
  --warning: #e5e900;
  --danger: #bd1515;
  --bgcolor: #b1b1b1;
  --card: #f758c2;
}
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  justify-content: center;
}
.container {
  background-color: var(--bgcolor);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 1300px;
}
.content {
  /* background-color: var(--info); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* card class section */
.card {
  background-color: var(--card);
  width: 250px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 0.5em;
  margin: 0.2em;
}
.card-fluid {
  background-color: var(--card);
  width: 100%;
  display: flex;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 0.5em;
  margin: 0.2em;
}
.card .img {
  background-color: var(--bgcolor);
  height: 200px;
  width: 100%;
  border-radius: 8px;
}
.card-fluid .img {
  height: 70vh;
  width: 30vw;
  border-radius: 8px;
  padding-right: 1.5rem;
}
.img .card-img {
  height: 200px;
  width: 100%;
  border-radius: 8px;
}
.img .card-img-fluid {
  height: 70vh;
  width: 30vw;
  border-radius: 8px;
  padding-right: 1.5rem;
}
.card-body .card-title1 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
}
.card-body .card-title2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
}
.card-body .card-item {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 0.5em;
}
.card-body .card-button {
  text-align: center;
}
/* button section */
button {
  margin: 0.3rem 0.3rem;
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 700;
  /* font-family: inherit; */
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #000;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.btn-success {
  background-color: var(--success);
}
.btn-info {
  background-color: var(--info);
}
.btn-warning {
  background-color: var(--warning);
}
.btn-danger {
  background-color: var(--danger);
}
/* nav-bar class section */
.nav-bar {
  background-color: var(--success);
  width: 100%;
  padding: 2rem 0 0.5rem 0;
}
.nav-item {
  display: flex;
}
.nav-bar .nav-bar-link {
  font-size: 2rem;
  padding: 1rem 0.7rem 1rem 0.7rem;
}
a {
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
}
a:hover {
  color: var(--danger);
}
/* dropdown button section */

/* form section */
form {
  padding: 1.5rem 1rem 1rem 1rem;
  border: 1px solid #000;
  border-radius: 30px;
  margin-bottom: 0.2em;
}
form input,
select {
  height: 30px;
  width: 90%;
  padding: 0.2rem;
  margin: 0.2rem 0.5rem 1rem 0.5rem;
  border: 2px solid #000;
  border-radius: 5px;
}
form .form-group-btn {
  text-align: center;
}
.form-title {
  text-align: center;
}
/* footer section */
footer {
  background-color: var(--success);
  padding: 2rem 0 0.5rem 0;
  width: 100%;
  text-align: center;
}
/* resposive screen section */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* media laptop screen */
@media (max-width: 1300px) {
  html {
    font-size: 100%;
  }
}
@media (max-width: 999px) {
  html {
    font-size: 95%;
  }
  .container {
    width: 100%;
  }
  .content {
    display: flex;
    justify-content: center;
  }
}
/* media handphone screen */
@media (max-width: 450px) {
  html {
    font-size: 95%;
  }
  .container {
    width: 100%;
  }
  .content {
    display: flex;
    justify-content: center;
  }
  .card-fluid {
    flex-direction: column;
    justify-content: center;
    padding: 0.2rem;
    margin: 0.2rem;
  }
  .card-fluid .img {
    width: 100%;
  }
  .img .card-img-fluid {
    width: 100%;
    padding-right: 0;
  }
  .card-body .card-title2 {
    font-size: 1rem;
  }
  h1 {
    font-size: 100%;
  }
  .nav-item {
    flex-direction: column;
  }
}
